<!-- Banner Start -->
<div class="hero" id="home">
  <div class="container-fluid">
      <div class="row align-items-center">
          <div class="col-sm-12 col-md-6">
              <div class="hero-content">
                  <div class="hero-text">
                      <p>Hola!</p>
                      <h1>Soy Soledad</h1>
                      <h2></h2>
                      <div class="typed-text">FullStack Developer, Front End Developer, Analista de datos, Creadora de soluciones</div>
                  </div>
                  <div class="hero-btn">
                      <a class="btn" href="https://drive.google.com/drive/folders/1RHn5cusHv6Xl8aTXjkR4JVs1-L20mIdI?usp=sharing" target="_blank">Descargar CV</a>
                      <a class="btn" href="#contact">Contactáme</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-12 col-md-6 d-none d-md-block">
              <div class="hero-image">
                  <img src="../../../assets/hero.png" alt="Hero Image">
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Banner End -->
