<!-- Footer Start -->
<div class="footer wow fadeIn" data-wow-delay="0.3s" id="footer">
  <div class="container-fluid">
      <div class="container">
          <div class="footer-info">
              <h2>Soledad Romar Ibarra</h2>
              <h3>Málaga, Andalucía, ESPAÑA</h3>
              <div class="footer-menu">
                  <p>+34 655 833546</p>
                  <p>solromar@gmail.com</p>
              </div>
              <div class="footer-social">
                  <a href="https://discordapp.com/users/941631517329866782" target="_blank"><i class="fab fa-discord" ></i></a>
                  <a href="https://github.com/solromar" target="_blank"><i class="fab fa-github" ></i></a>
                  <a href="https://stackoverflow.com/users/20090693/soledad-romar-ibarra" target="_blank"><i class="fab fa-stack-overflow"></i></a>
                  <a href="https://www.linkedin.com/in/soledad-romar/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
      </div>
      <div class="container copyright">
          <p>&copy; <a href="#">Soledad Romar Ibarra</a>, Creado para Argentina Programa </p>
      </div>
  </div>
</div>
<!-- Footer End -->
