<body data-spy="scroll" data-target=".navbar" data-offset="51">
  <div class="navbar navbar-expand-lg bg-light navbar-light" id="fijo">
    <div class="container-fluid" >
        <a href="index.html" class="navbar-brand"><img src="../../../assets/arg-programa-logo.png" alt="logo AP"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="#home" class="nav-item nav-link active">Inicio</a>
                <a href="#about" class="nav-item nav-link">Acerca de mí</a>
                <a href="#skills" class="nav-item nav-link">Skills</a>
                <a href="#experience" class="nav-item nav-link">Experiencia</a>


            </div>
        </div>
    </div>
  </div>
  </body>
