<!-- Banner Redes Start -->
<div class="banner wow zoomIn" data-wow-delay="0.1s" id="banner">
  <div class="container">
      <div class="section-header text-center">
          <h2>Mis Redes</h2>

      </div>
      <div class="container banner-text">
          <div class="social">
              <a href="https://discordapp.com/users/941631517329866782" target="_blank"><i class="fab fa-discord" style="font-size:50px" ></i></a>
              <a href="https://github.com/solromar" target="_blank"><i class="fab fa-github" style="font-size:50px" ></i></a>
              <a href="https://stackoverflow.com/users/20090693/soledad-romar-ibarra" target="_blank"><i class="fab fa-stack-overflow" style="font-size:50px" ></i></a>
              <a href="https://www.linkedin.com/in/soledad-romar/" target="_blank"><i class="fab fa-linkedin-in" style="font-size:50px"></i></a>
          </div>

      </div>
  </div>
</div>
<!-- Banner Redes End -->

