<!-- Educacion Start -->
<div class="educa" id="educa">
  <div class="container">
      <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
          <p>Mis estudios</p>
          <h2>EDUCACIÓN</h2>
      </div>
      <div class="row">
          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
              <div class="educa-item">
                  <div class="educa-header">
                      <div class="educa-title">
                          <h2>Secundario y</h2>
                      </div>
                      <div class="educa-prices">
                          <h2>Universitario</h2>
                      </div>
                  </div>
                  <div class="educa-body">
                      <div class="educa-description">
                          <ul>
                              <li>BACHILLER EN GESTIÓN  </li>
                              <li>y ADMINISTRACIÓN DE EMPRESAS</li>
                              <li>E.Educación Media N°3</li>
                              <li>CONTADOR PÚBLICO</li>
                              <li>Universidad de Bs As</li>
                          </ul>
                      </div>
                  </div>
                  <div class="educa-footer">
                      <div class="educa-action">
                          <a class="btn" href="https://drive.google.com/drive/folders/1l7sT3kPn52jgsfDR0AM4UIMGGRj1GLVB?usp=sharing" target="_blank">Ver Títulos</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.0s">
              <div class="educa-item featured-item">
                  <div class="educa-header">
                      <div class="educa-title">
                          <h2>Cursos de</h2>
                      </div>
                      <div class="educa-prices">
                          <h2>Programación</h2>
                      </div>
                  </div>
                  <div class="educa-body">
                      <div class="educa-description">
                          <ul>
                              <li>FullStack Developer</li>
                              <li>Arquitectura Big Data</li>
                              <li>Programación Web</li>
                              <li>Introducción a la Programacion</li>
                              <li>Ciberseguridad</li>
                          </ul>
                      </div>
                  </div>
                  <div class="educa-footer">
                      <div class="educa-action">
                          <a class="btn" href="https://drive.google.com/drive/folders/1l7sT3kPn52jgsfDR0AM4UIMGGRj1GLVB?usp=sharing" target="_blank">Ver Certificados</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
              <div class="educa-item">
                  <div class="educa-header">
                      <div class="educa-title">
                          <h2>Otros</h2>
                      </div>
                      <div class="educa-educa">
                          <h2>Cursos</h2>
                      </div>
                  </div>
                  <div class="educa-body">
                      <div class="educa-description">
                          <ul>
                              <li>Diseño y Gestión de Redes</li>
                              <li>Bases de Datos MySQL</li>
                              <li>Inglés para restauración</li>
                              <li>Inglés Comercial</li>
                              <li>Habilidades Blandas</li>
                          </ul>
                      </div>
                  </div>
                  <div class="educa-footer">
                      <div class="educa-action">
                          <a class="btn" href="https://drive.google.com/drive/folders/1l7sT3kPn52jgsfDR0AM4UIMGGRj1GLVB?usp=sharing" target="_blank">Ver Certificados</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Educacion End -->
