<!-- Skills Start -->
<div class="skills" id="skills">
  <div class="container">
      <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
          <p>Skills</p>
          <h2>Herramientas Tecnológicas</h2>
      </div>
      <div class="row">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
              <div class="skills-item">
                  <div class="skills-icon">
                      <i class="fa fa-laptop"></i>
                  </div>
                  <div class="skills-text">
                      <h3>Diseño</h3>
                      <p>
                          Adobe Express, Canva, Figma
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
              <div class="skills-item">
                  <div class="skills-icon">
                      <i class=" fa fa-code"></i>
                  </div>
                  <div class="skills-text">
                      <h3>Lenguajes</h3>
                      <p>
                          HTML5, CSS3, Boostrap, Javascript, Typescript, Angular, Java
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
              <div class="skills-item">
                  <div class="skills-icon">
                      <i class="fa fa-database"></i>
                  </div>
                  <div class="skills-text">
                      <h3>Big Data</h3>
                      <p>
                          Hadoop, Spark, Scala, Tableau, Carto, Mongo DB, Cassandra
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
              <div class="skills-item">
                  <div class="skills-icon">
                      <i class=" fa fa-angle-right"></i>
                  </div>
                  <div class="skills-text">
                      <h3>Otros</h3>
                      <p>
                          Sistemas de gestion ERP, Excel, Word, Redes, Ciberseguridad, Ubuntu, Git, GitHub
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Skills End -->
