


<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-light navbar-light">
  <div class="container-fluid">
      <a href="index.html" class="navbar-brand"><img src="../../../assets/arg-programa-logo.png" alt="logo AP">Portfolio</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav ml-auto">
              <a href="#home" class="nav-item nav-link active">Inicio</a>
              <a href="#about" class="nav-item nav-link">Acerca de mí</a>
              <a href="#skills" class="nav-item nav-link">Skills</a>
              <a href="#experience" class="nav-item nav-link">Experiencia</a>
              <a href="#portfolio" class="nav-item nav-link">Portfolio</a>
              <a href="#banner" class="nav-item nav-link">Redes Sociales</a>
              <a href="#educa" class="nav-item nav-link">Educación</a>
              <a href="https://www.google.com/" target="_blank" class="nav-item nav-link">Buscar</a>
              <a href="#contact" class="nav-item nav-link">Contacto</a>
              <button type="button" class="btn btn-outline-link">Login</button>

          </div>
      </div>
  </div>
</div>
<!-- Nav Bar End -->

